.display {
    &--flex {
        display: flex;
    }
}

.color {
    &--white {
        color: #ffffff;
    }
    &--dark-orange {
        color: #ff8500;
    }
}

.text {
    &--bold {
        font-weight: bold;
    }
}