$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: orange;    
}

.color {
    &--white {
        color: #ffffff;
    }
}

.main {    
    width: 50%;
    margin: 0 auto;
}

.header {
    text-align: center;

    &__title {     
        font-size: 3rem;
        font-weight: bolder;
        padding-top: 0.7em;
    }
}


.section__form {
    position: relative;
    top: 3em;
    height: 6em;
    border-bottom: 1px solid #ffffff;
}

.form {

    text-align: center;

    &__search-city {
        
        width: 80%;
        height: 3em;        
        border: none;
        margin-right: auto;
        font-size: 1rem;
        font-weight: 100;        
        padding: 1rem;
        
        &::after {
            content: "\f152";
            
            
            color: #000000;
        }        
    }
}

.section__capitals {
    position: relative;
    top: 5em;
    padding-left: 3em;
    padding-right: 3em;
}

.capitals {
    display: flex;
}

.capital {
    width: 100%;    
}

.table__title {
    font-weight: 100;
    font-size: 0.7rem;
}