@import "./font-awesome.min.css";
@import "_general";
@import "_helpers";

body {
    background: rgb(255, 179, 0);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgb(255, 179, 0), rgb(255, 132, 0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(255, 179, 0), rgb(255, 132, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    overflow: hidden;
}

.main {    
    width: 50%;
    margin: 0 auto;
}

.header {

    text-align: center;

    &__title {             
        font-weight: bolder;
        padding-top: 1em;

        &--bigger {     
            font-size: 3.8rem;
        }

        &--medium {
            font-size: 2rem;
        }
    }    
}

.card__time {
    background-color: #fff3e4;
    width: 70%;
    height: 237px;
    padding: 1rem;
    padding-left: 2.8rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    &__header {
        max-height: 1.5rem;
    }

    &__title {
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__forecast {
        font-size: 2.5rem;
    }

    &__options {
        
        margin-top: 1rem;
        flex-wrap: wrap;

        & > div {
            width: 50%;
            padding: 0.3rem;
            font-size: 0.8rem;
        }
    }

    &__days {
        
        padding-top: 0.3rem;
        padding-left: 0.3rem;
        padding-right: 0.2rem;
        
        & > div {
            width: calc(100% / 5);
            font-size: 0.9rem;
            font-weight: bold;
        }        
    }

    &__separator {
        position: relative;
        left: -1rem;
        border-color: #ff8500;
    }
}

.section__form {
    position: relative;
    top: 3em;
    height: 6em;
    border-bottom: 1px solid #ffffff;
}

.form {

    text-align: center;

    &__search-city {
        
        width: 70%;
        height: 3em;        
        border: none;
        margin-right: auto;
        font-size: 1rem;
        font-weight: 100;        
        padding: 1rem;
        
        background-image: url('/images/icons/searchicon.png');
        background-position: 98% 50%;
        background-repeat: no-repeat;
        background-size: 5%;
    }
}

.section__capitals {
    position: relative;
    top: 5em;
    padding-left: 8em;
    padding-right: 3em;
}

.capitals {    
    width: 80%;
    margin-top: 1rem;
}

.capital {
    width: 100%;    
}

.table {
    
    &__title {
        font-weight: 100;
        font-size: 0.7rem;
        color: #584242;
    }

    &__body {

        & > tr > td {
            font-weight: bold;
            line-height: 2.5rem;
        }
    }
}


.element {

    &__arrow {

        &__down {
            content: '';
            display: inline-block;
            width: 2px;
            height: 15px;
            background-color: #ff8500;
            position: relative;

            &:before{
                content: '';
                display: inline-block;
                width: 2px;
                height: 10px;
                background-color: #ff8500;
                transform: rotate(135deg);
                position: relative;
                top: 5px;

            }
        }

        &__up {

        }
    }

    &__x {
        &:before{
            content: '';
            display: inline-block;
            width: 2px;
            height: 15px;
            background-color: #ff8500;
            transform: rotate(135deg);
        }

        &:after{
            content: '';
            display: inline-block;
            width: 2px;
            height: 15px;
            background-color: #ff8500;
            position: relative;
            top: -22px;
            transform: rotate(45deg);
        }
    }
}